<p id="notice"><%= notice %></p>

<p>
  <strong>Cohort:</strong>
  <%= @cohort.cohort %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @cohort.full_name %>
</p>

<p>
  <strong>Benchmark acheived:</strong>
  <%= @cohort.benchmark %>
</p>

<p>
  <strong>Stipend:</strong>
  <%= @cohort.stipend %>
</p>

<p>
  <strong>Web site:</strong>
  <%= @cohort.web_site %>
</p>

<p>
  <strong>Final project:</strong>
  <%= @cohort.final_project %>
</p>

<%= link_to 'Edit', edit_cohorts_path(@user) %> |
<%= link_to 'Back', cohorts_path %>
