<%= form_with(model: genius, local: true) do |form| %>
<%= form_for @user, :as => :user, :url => sign_in_path(@user) do |f| %>
  <div class="field">
    <%= form.label :cohort %>
    <%= form.number_field :cohort, id: :cohort %>
  </div>

  <div class="field">
    <%= form.label :full_name %>
    <%= form.text_field :full_name, id: :genius_full_name %>
  </div>


  <div class="field">
    <%= form.label :web_site %>
    <%= form.text_field :url, id: :genius_web_site %>
  </div>

  <div class="field">
    <%= form.label :final_app %>
    <%= form.text_field :final_app, id: :genius_final_app %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
