<%= form_with(model: @events, local: true) do |form| %>
  <div class="form-inputs">

    <%= text_field :notes, id: :notes %>
    <%= date_field :date_range, input_html: { class: "form-control input-sm date-range-picker" } %>
    <%= hidden_field :start, as: :hidden, value: Date.today, class: 'form-control input-sm start_hidden' %>
    <%= hidden_field :end, as: :hidden, value: Date.today, class: 'form-control input-sm end_hidden' %>
  </div>
    <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
    <%= link_to 'Delete',
                events_path,
                method: :delete,
                class: 'btn btn-danger',
                data: {confirm: 'Are you sure?'},
                remote: true unless @event.new_record? %>
  </div>
<% end %>
