<div class='page'>
          <%= form_with model: @projects, class: 'form-box' do |form|  %><br>
            <%= form.label :app_name, class: 'control-label col-md-2' %>
            <%= form.text_field :app_name, class: 'col-md-10' %><br>
            <%= form.label :coding, class: 'control-label col-md-2' %>
            <%= form.text_field :coding, class: 'col-md-10' %><br>
            <%= form.label :project_details, class: 'control-label col-md-2' %>
            <%= form.text_field :project_details, class: 'col-md-10' %><br>
            <%= form.label :start_date, class: 'control-label col-md-2' %>
            <%= form.date_field :start_date, class: 'col-md-10' %><br>
            <%= form.submit class: 'btn btn-success btn-lg' %>
          <% end %>
</div>
