<div class='row'>
  <div class='col-md-12'>
      <div class='form-group'>
        <div class='col-md-10'>
          <%= form_with model: User.new do |user| %>
            <%= user.fields model: Project.new do |project| %>
              <%= project.text_field :app_name, id: :name, class: "name"  %>
              <%= project.text_field :coding, id: :langauge, class: "langauge" %>
              <%= project.text_area :project_details, id: :email, class: "app description"  %>
              <%= project.date_field :start_date, id: :date_started, class: "date started"  %>
            <%= project.submit class: 'btn btn-success btn-lg' %>
            <% end %>
          <% end %>
        </div>
      </div>
  </div>

</div>
