<div class='page'>
  <div class='col-md-12'>
      <div class='form-group'>
        <div class='col-md-10'>
          <%= form_with model: User.new do |user| %>
          <% if @project.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@project.errors.count, "error") %>
              prohibited this project from being saved:</h2>

              <ul>
              <% @project.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

            <%= user.fields model: Project.new do |project| %>
            <div class='form-group'>
              <div class='control-label col-md-2'>
                <%= project.label :app_name  %>
              </div>
              <div class='col-md-10'>
                  <%= project.text_field :app_name %>
              </div>
              <div class='form-group'>
                <div class='control-label col-md-2'>
                <%= project.label :coding, id: :name  %>
              </div>
            </div>
            <div class='col-md-10'>
                <%= project.text_field :coding  %>
            </div>
            <div class='form-group'>
              <div class='control-label col-md-2'>
                <%= project.label :project_details  %>
              </div>
            </div>
            <div class='col-md-10'>
                <%= project.text_area :project_details  %>
            </div>
            <div class='form-group'>
              <div class='control-label col-md-2'>
                <%= project.label :start_date  %>
              </div>
            </div>
            <div class='col-md-10'>
                <%= project.date_field :start_date %>
            </div>

              <%= project.submit class: 'btn btn-success btn-lg' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
