<div class="col-xs-12 col-md-10 col-md-offset-1">
  <div>
    <h2 class="show-header">Showing <%= "#{User}'s App " %></h2>
  </div>
  <div class="col-xs-12 col-md-10 well member">
    <div class="col-xs-4">
      <strong>App name:</strong>
    </div>
    <div class="col-xs-8 text-right">
      <%= @project.app_name %>
    </div>
  </div>
  <div class="col-xs-12 col-md-10 well member">
    <div class="col-xs-4">
      <strong>App details:</strong>
    </div>
    <div class="col-xs-8 text-right">
      <%= @project.project_details %>
    </div>
  </div>
  <div class="col-xs-12 col-md-10 well member">
    <div class="col-xs-4">
      <strong>Start date:</strong>
    </div>
    <div class="col-xs-8 text-right">
      <%= @project.start_date %>
    </div>
  </div>
  <br>
  <br>
  <div class="col-xs-12 col-md-10 member">
    <%= link_to 'Back', projects_path(current_user),
      class: "btn btn-success btn-lg link", id: "back-btn" %>
  </div>
</div>
