<%= form_with(model: genius, local: true) do |form| %>
  <% if genius.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this Genius from being saved:</h2>

      <ul>
      <% feature.errors.full_messages.each do |feature| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cohort %>
    <%= form.number_field :cohort, id: :cohort %>
  </div>

  <div class="field">
    <%= form.label :full_name %>
    <%= form.text_field :full_name, id: :genius_full_name %>
  </div>


  <div class="field">
    <%= form.label :web_site %>
    <%= form.text_field :url, id: :genius_web_site %>
  </div>

  <div class="field">
    <%= form.label :final_app %>
    <%= form.text_field :final_app, id: :genius_final_app %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
