<!DOCTYPE html>
<html>
  <head>
    <title>HGP Apps</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- Custom Fonts -->


      <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

  <!-- Custom Css -->
    	<link href="https://blackrockdigital.github.io/startbootstrap-grayscale/css/grayscale.min.css" rel="stylesheet">

</head>

  <body>
    <div class='page'>
      <!-- <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid"> -->
          <div class="google">
            <% if current_user %>
              Signed in as <strong><%= current_user.name %></strong>!
              <%= link_to "Sign out", signout_path, id: "sign_out" %>
            <% else %>
              <%= link_to "Sign in with Google", google_signin_path(:google_oauth2), id: "sign_in" %>
            <% end %>
          </div>
          <!-- <div>
          <%= yield %>
          </div> -->
      <%= render 'shared/header' %>

      <%= render 'shared/main' %>

      <%= render 'shared/footer' %>
        <!-- </div>
      </nav> -->
    </div>
  </body>
</html>
